<form class="new-comment" method="POST" action= "/comments">
   
     <div class="form-group">
        <input type="text" id="text" name="text" placeholder="Comment"> 
     </div>
     
     <input type="hidden" id="post_id" name="post_id" value= "<%= post.id %>"></iinput>  
       
     <div class="form-group">
        <button class= "button" type="submit">Submit</button>
     </div>
   
</form>